.get-reviews-container {
  width: 600px;
  margin: 70px auto;
  padding: 20px;
  border: 2px solid saddlebrown;
  border-radius: 30px;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.get-reviews-title h3 {
  color: black;
  text-align: center;
}

.get-reviews-button {
  display: block;
  
 margin: 0 auto;
  width: 200px;
  height: 35px;
  background-color: cornflowerblue;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.get-reviews-loading {
  text-align: center;
  color: gray;
}

.get-reviews-error {
  text-align: center;
  color: red;
  margin-top: 10px;
}

.get-reviews-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.get-reviews-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
