.change-email-container {
  width: 600px;
  margin: 70px auto;
  height: 300px;
  padding: 10px;
  border: 2px solid saddlebrown;
  border-radius: 30px;
  
}

.change-email-title h3 {
  color: black;
  width: 140px;
  margin: 0 auto;
}

.change-email-form {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
 

}

.change-email-input {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid rgb(90, 94, 209);
  font-size: 20px;
}

.change-email-button {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  background-color: cornflowerblue;
  border-radius: 10px;
  border: none;
  color: aliceblue;
  font-size: 15px;
}

.change-email-error {
  color: red;
}
