.support-overlay {
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.support-form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.support-body input {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
  font-size: 14px;
}

/* кнопки внутри register-body нет, оставил комментарий */

.support-button-btn {
  color: white;
  background-color: #8589E4;    
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 100%;
}

.register-header {
  display: flex;
  align-items: center;
  gap: 90px;
}

.support-header h1 {
  color: #000;
  font-size: 25px;
  width: 160px;
  margin: 0 auto;
 
}

.input-description{
  width: 100px;
}