.infobom{
    color: aqua;
}

.user-profile-overlay{
     position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-body{
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 1410px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 700px;
 
}

.tab-content h3{
    color: aqua;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 20px;
  width: 800px;
  margin: 30px auto;
  padding: 10px 20px;
  border: 2px solid salmon;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tabs button {
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: #f8f8f8;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #333;
}

.tabs button:hover {
  background-color: #ffe3e3;
  border-color: salmon;
}

.tabs button.active {
  background-color: salmon;
  color: white;
  border-color: salmon;
  
}


.tabs button:hover{
    transform: scaleY(1.1);
}

