*{
    margin: 0;
    padding: 0;
}

.header{
    width: 1490px;
    height: 70px;
   
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
}
.header-right{
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 16px;
    font-family: var(Poppins);
    font-weight: 500;   
}
.auth-buttons {
    display: flex;
    gap: 20px;
}

.auth-buttons button{
    height: 40px;
    width: 100px;   
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}


.register-btn{
    background-color: #097FD9;
    border: none;
}
.register-btn:hover{
     transform: scale(1.05);
}
.login-btn{
    background-color: #090707;
     border: 1px solid #FFFFFF;
}
.login-btn:hover{
     transform: scale(1.05);
}